<!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a routerLink="/home" class="logo">
        <ion-icon name="barbell-sharp" aria-hidden="true"></ion-icon>

        <span class="span">F&F Fitness</span>
      </a>

      <nav class="navbar" data-navbar>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-sharp" aria-hidden="true"></ion-icon>
        </button>

        <ul class="navbar-list">

          <li>
            <a routerLink="/home" class="navbar-link active" data-nav-link>Home</a>

          </li>

          <li>
            <a routerLink="/register" class="navbar-link" data-nav-link>Register</a>
          </li>

          <li>
            <a routerLink="/classes" class="navbar-link" data-nav-link>Classes</a>
          </li>

          <li>
            <a routerLink="/blogs" class="navbar-link" data-nav-link>Blogs</a>
          </li>

          <li>
            <a routerLink="/login" class="navbar-link" data-nav-link>Login</a>
          </li>

          
          <li>
            <a routerLink="/contact" class="navbar-link" data-nav-link>Contact Us</a>
          </li>

          <li>
            <a routerLink="/aboutus" class="navbar-link" data-nav-link>About Us</a>
          </li>

         

        


        </ul>

      </nav>

      <a routerLink="/signup" class="btn btn-secondary">Join Now</a>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero bg-dark has-after has-bg-image" id="home" aria-label="hero" data-section
        style="background-image: url('./assets/hero-bg.png')">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <strong class="strong">The Best</strong>Fitness Club
            </p>

            <h1 class="h1 hero-title">Work Hard To Get Better Life</h1>

            <p class="section-text">
             "F&F Fitness: Your Path to Wellness and Strength.Elevate Your Fitness Journey with Us!"
            </p>

            <a routerLink="/signup" class="btn btn-primary">Get Started</a>

          </div>

          <div class="hero-banner">

            <img src="./assets/about-banner.png" width="660" height="753" alt="hero banner" class="w-100">

            <img src="./assets/hero-circle-one.png" width="666" height="666" aria-hidden="true" alt=""
              class="circle circle-1">
            <img src="./assets/hero-circle-two.png" width="666" height="666" aria-hidden="true" alt=""
              class="circle circle-2">

            <img src="./assets/heart-rate.svg" width="255" height="270" alt="heart rate"
              class="abs-img abs-img-1">
            <img src="./assets/calories.svg" width="348" height="224" alt="calories" class="abs-img abs-img-2">

          </div>

        </div>
      </section>





