<app-header> </app-header>
 
 <!-- 
        - #BLOG
      -->

      <section class="section blog" id="blog" aria-label="blog">
        <div class="container">

          <p class="section-subtitle">Our News</p>

          <h2 class="h2 section-title text-center">Latest Blog Feed</h2>

          <ul class="blog-list has-scrollbar">

            <li class="scrollbar-item">
              <div class="blog-card">

                <div class="card-banner img-holder" style="--width: 440; --height: 270;">
                  <img src="./assets/slide12.jpg" width="440" height="270" loading="lazy"
                    alt="Going to the gym for the first time" class="img-cover">

                  <time class="card-meta" datetime="2022-07-07">2 January 2024</time>
                </div>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Mastering Mindset: The Key to Consistent Fitness</a>
                  </h3>

                  <p class="card-text">
                  Unlock the secrets to maintaining a positive mindset throughout your fitness journey.
                  Explore tips,personal stories, and expert advice to cultivate a mindset that fuels 
                  your commitment to health and wellness.
                  </p>

             

                </div>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="blog-card">

                <div class="card-banner img-holder" style="--width: 440; --height: 270;">
                  <img src="./assets/blog-2.jpg" width="440" height="270" loading="lazy"
                    alt="Parturient accumsan cacus pulvinar magna" class="img-cover">

                  <time class="card-meta" datetime="2022-07-07">2 January 2024</time>
                </div>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Beyond the Reps:The Importance of Form in Weight Lifting</a>
                  </h3>

                  <p class="card-text">
                  Delve into the nuances of weight lifting as we break down the significance of proper 
                  form.Learn how mastering technique not only prevents injuries but also maximizes
                  the effectiveness of your workouts, helping you achieve your strength goals.
                  </p>

                
                </div>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="blog-card">

                <div class="card-banner img-holder" style="--width: 440; --height: 270;">
                  <img src="./assets/pexels-jane-doan-1105166.jpg" width="440" height="270" loading="lazy"
                    alt="Risus purus namien parturient accumsan cacus" class="img-cover">

                  <time class="card-meta" datetime="2022-07-07">2 January 2024</time>
                </div>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Fueling Your Fitness:A Guide to Nutrition at F&F Fitness</a>
                  </h3>

                  <p class="card-text">
                   Dive into the world of nutrition with our comprehensive guide tailored for F&F Fitness
                   members.Discover the importance of fueling your body right,explore pre and post-workout
                   nutrition strategies; and get insights into how nutrition complements your fitness 
                   routine optimal results.
                  </p>

                 

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <app-footer> </app-footer>