<body>
<div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form [formGroup]= "loginForm" (ngSubmit)= "login()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input formControlName="email" type="text" placeholder="Enter your email" required>
          </div>
        
          <div class="input-box">
            <span class="details">Password</span>
            <input formControlName="password" type="text" placeholder="Enter your password" required>
          </div>
         
        </div>
     
        <div class="button">
          <input type="submit" value="Log in">
        </div>
        <div class="login__register">
            Don't have an account? <a routerLink="/signup">Sign-up</a>
         </div>
      </form>
    </div>
  </div>
</body>