<app-header> </app-header>
  
  
  <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <div class="about-banner has-after">
            <img src="./assets/fitness-png-102.png" width="660" height="648" loading="lazy" alt="about banner"
              class="w-100">

            <img src="./assets/about-circle-one.png" width="660" height="534" loading="lazy" aria-hidden="true"
              alt="" class="circle circle-1">
            <img src="./assets/about-circle-two.png" width="660" height="534" loading="lazy" aria-hidden="true"
              alt="" class="circle circle-2">

            <img src="./assets/fitness.png" width="650" height="154" loading="lazy" alt="fitness"
              class="abs-img w-100">
          </div>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">Welcome To Our Fitness Gym</h2>

            <p class="section-text">
             Welcome to F&F Fitness Club, where we redefine the fitness experience.We are more than a gym;
             we're a a community dedicated to transforming lives through wellness.
             At F&F Fitness, our mission is to inspire and support individuals on their fitness journey,providing
             top-notch facilities,expert guidance, and a vibrant atmosphere.
             Join us in a space where passion meets purpose, and discover the joy of a healthier, happier you.
            </p>

            <p class="section-text">
             F&F Fitness: Elevate Your Fitness, Enrich Your Life.
            </p>

            <div class="wrapper">

              <div class="about-coach">

                <figure class="coach-avatar">
                  <img src="./assets/person_3.jpg" width="65" height="65" loading="lazy" alt="Trainer">
                </figure>

                <div>
                  <h3 class="h3 coach-name">Emma Donero</h3>

                  <p class="coach-title">Our Coach</p>
                </div>

              </div>

            
            </div>

          </div>

        </div>
      </section>

      <app-footer> </app-footer>


