
<app-header> </app-header>

 <!-- 
        - #VIDEO
      -->

      <section class="section video" aria-label="video">
        <div class="container">

          <div class="video-card has-before has-bg-image"
            style="background-image: url('./assets/slide2.jpg')">

            <h2 class="h2 card-title">Explore Fitness Life</h2>

            <button class="play-btn" aria-label="play video">
              <ion-icon name="play-sharp" aria-hidden="true"></ion-icon>
            </button>

            <a href="#" class="btn-link has-before">Watch More</a>

          </div>

        </div>
      </section>





<section class="section class bg-dark has-bg-image" id="class" aria-label="class"
style="background-image: url('./assets/classes-bg.png')">
<div class="container">

  <p class="section-subtitle">Our Classes</p>

  <h2 class="h2 section-title text-center">Fitness Classes For Every Goal</h2>

  <ul class="class-list has-scrollbar">

    <li class="scrollbar-item">
      <div class="class-card">

        <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
          <img src="./assets/class-1.jpg" width="416" height="240" loading="lazy" alt="Weight Lifting"
            class="img-cover">
        </figure>

        <div class="card-content">

          <div class="title-wrapper">
            <img src="./assets/class-icon-1.png" width="52" height="52" aria-hidden="true" alt=""
              class="title-icon">

            <h3 class="h3">
              <a href="#" class="card-title">Weight Lifting</a>
            </h3>
          </div>

          <p class="card-text">
           Sculpt and strengthen your body with our expert-led weight lifting class,
           suitable for all levels.
          </p>

          <div class="card-progress">

            <div class="progress-wrapper">
              <p class="progress-label">Class Full</p>

              <span class="progress-value">85%</span>
            </div>

            <div class="progress-bg">
              <div class="progress-bar" style="width: 85%"></div>
            </div>

          </div>

        </div>

      </div>
    </li>

    <li class="scrollbar-item">
      <div class="class-card">

        <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
          <img src="./assets/class-2.jpg" width="416" height="240" loading="lazy" alt="Cardio & Strenght"
            class="img-cover">
        </figure>

        <div class="card-content">

          <div class="title-wrapper">
            <img src="./assets/class-icon-2.png" width="52" height="52" aria-hidden="true" alt=""
              class="title-icon">

            <h3 class="h3">
              <a href="#" class="card-title">Cardio & Strength</a>
            </h3>
          </div>

          <p class="card-text">
          Ignite your metabolism with our High-Intensity Interval Training fusion class,combining cardio and Strength
          exercises for maximum results.
          </p>

          <div class="card-progress">

            <div class="progress-wrapper">
              <p class="progress-label">Class Full</p>

              <span class="progress-value">70%</span>
            </div>

            <div class="progress-bg">
              <div class="progress-bar" style="width: 70%"></div>
            </div>

          </div>

        </div>

      </div>
    </li>

    <li class="scrollbar-item">
      <div class="class-card">

        <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
          <img src="./assets/class-3.jpg" width="416" height="240" loading="lazy" alt="Power Yoga"
            class="img-cover">
        </figure>

        <div class="card-content">

          <div class="title-wrapper">
            <img src="./assets/class-icon-3.png" width="52" height="52" aria-hidden="true" alt=""
              class="title-icon">

            <h3 class="h3">
              <a href="#" class="card-title">Power Yoga</a>
            </h3>
          </div>

          <p class="card-text">
          Join our yoga class, focusing on mindful movements and breath control to enhance flexibility,
          balance and mental well-being.

          </p>

          <div class="card-progress">

            <div class="progress-wrapper">
              <p class="progress-label">Class Full</p>

              <span class="progress-value">90%</span>
            </div>

            <div class="progress-bg">
              <div class="progress-bar" style="width: 90%"></div>
            </div>

          </div>

        </div>

      </div>
    </li>

    <li class="scrollbar-item">
      <div class="class-card">

        <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
          <img src="./assets/slide13.jpg" width="416" height="240" loading="lazy" alt="The Fitness Pack"
            class="img-cover">
        </figure>

        <div class="card-content">

          <div class="title-wrapper">
            <img src="./assets/class-icon-4.png" width="52" height="52" aria-hidden="true" alt=""
              class="title-icon">

            <h3 class="h3">
              <a href="#" class="card-title">The Fitness Pack</a>
            </h3>
          </div>

          <p class="card-text">
          Experience a dynamic blend cardio, strength training, and flexibility exercises for a well-rounded fitness
          routine.
          </p>

          <div class="card-progress">

            <div class="progress-wrapper">
              <p class="progress-label">Class Full</p>

              <span class="progress-value">60%</span>
            </div>

            <div class="progress-bg">
              <div class="progress-bar" style="width: 60%"></div>
            </div>

          </div>

        </div>

      </div>
    </li>

  </ul>

</div>
</section>


<app-footer> </app-footer>
